

.topicsButton.v-btn--active::before {
    opacity: 0;
}


.feedbackButton {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: bottom right;

    position: fixed;
    right: 0px;
    top: 45%;
  }

@media only screen and (max-width: 599px) {
  .main-data-table-fix > div > table > tbody {
    display: block !important;
  }
}